<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://android.com">

    <uses-permission a:name="android.permission.INTERNET" />
    <uses-permission a:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission a:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission a:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" a:maxSdkVersion="32" />
    <uses-permission a:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        a:label="Discord Sender"
        a:theme="@style/Theme.Material3.DayNight"
        a:allowBackup="true"
        a:supportsRtl="true">

        <activity
            a:name="com.example.discordsender.MainActivity"
            a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            a:name="com.example.discordsender.NotificationService"
            a:foregroundServiceType="dataSync"
            a:exported="false" />

        <receiver
            a:name="com.example.discordsender.BootReceiver"
            a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
